body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 150%;
}

header{
  background-color: salmon;
}

nav{
  background-color: beige;
}

main{
  background-color: #f6d7b0;
  font-size: 25px;
}

footer{
  background-color: rgb(135, 206, 235);
}

li{
  display: inline-block;
  width: 25%;
}

h1{
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

p{
  line-height: 175%;
}